<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h min-h-screen bg-zinc-900 text-white flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold">Mini Project</h1>
        <h2 class="text-2xl font-bold mt-4">Create Account</h2>
        <p class="text-lg font-bold mt-4">Please fill in the form below to create an account.</p>
        <p class="text-lg font-bold mt-4">You can also login if you already have an account.</p>
        <form action="">
            <input type="text" placeholder="name" name="name" class="border-2 border-zinc-500 bg-zinc-800 text-white p-2 rounded-md w-full mt-4">
            <input type="text" placeholder="username" name="username" class="border-2 border-zinc-500 bg-zinc-800 text-white p-2 rounded-md w-full mt-4">
            <input type="number" placeholder="age" name="age" class="border-2 border-zinc-500 bg-zinc-800 text-white p-2 rounded-md w-full mt-4">
            <input type="email" placeholder="email" name="email" class="border-2 border-zinc-500 bg-zinc-800 text-white p-2 rounded-md w-full mt-4">
            <input type="password" placeholder="password" name="password" class="border-2 border-zinc-500 bg-zinc-800 text-white p-2 rounded-md w-full mt-4">
            <input type="submit" value="Create Account" class="border-2 border-zinc-500 bg-blue-500 text-white p-2 rounded-md w-full mt-4">
            <input type="reset" value="Reset" class="border-2 border-zinc-500 bg-blue-500 text-white p-2 rounded-md w-full mt-4">
        </form>
    </div>
</body>
</html>